PORT=
MONGODB_URI=
CORS_ORIGIN=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
TEBI_ACCESSKEY_ID=
TEBI_SECRET_ACCESSKEY_ID=
TEBI_TEMPORARY_BUCKET_NAME = 
TEBI_HLS_BUCKET_NAME = 

// upstash service
REDIS_ENDPOINT=
REDIS_PASSWORD=
REDIS_PORT=